var newMessage = "<div class='chat <%= @message.user == current_user ? 'user_one' : 'user_two' %>'><div class='chat-content'> <%= @message.content %></div></div>";
var messages = document.getElementById('messages');
messages.insertAdjacentHTML('beforeend', newMessage);
var inputBox = document.getElementById('message_content');
inputBox.value = "";
messages.scrollTop = messages.scrollHeight
