<div class="container">
  <div class="top-view">
    <div class="color-layer">
      <div class="navbar">
        <a href="#"><i class="icon burger"></i></a>
        <a href="#"><i class="icon search right"></i></a>
      </div>
      <div class="header">
        <h1>Good Morning!</h1>
        <div class="profile-container">
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/esthercrawford/128.jpg" alt="" class="profile main">
          </img>
          <div class="notifications"><span>3</span></div>
        </div>
      </div>
      <div class="month-selection">
        <i class="icon arrow-left"></i>
        <i class="icon right arrow-right"></i>
        <span class="month">February</span>
      </div>
    </div>
  </div>
  <div class="bottom-view">
    <div class="week-container">
      <ul class="week">
        <li class="day day-names"><span>sun</span></li>
        <li class="day day-names"><span>mon</span></li>
        <li class="day day-names"><span>tue</span></li>
        <li class="day day-names"><span>wed</span></li>
        <li class="day day-names"><span>thu</span></li>
        <li class="day day-names"><span>fri</span></li>
        <li class="day day-names"><span>sat</span></li>
      </ul>
      <ul class="week">
        <li class="day"><span>7</span></li>
        <li class="day current point"><span>8</span></li>
        <li class="day"><span>9</span></li>
        <li class="day"><span>10</span></li>
        <li class="day"><span>11</span></li>
        <li class="day point"><span>12</span></li>
        <li class="day"><span>13</span></li>
      </ul>
    </div>
    <div class="entry-container">
    </div>
  </div>
  <div class="actionbutton"></div>
</div>

