<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{current_user.first_name}'s Dates on #{DEFAULT_META["meta_product_name"]}" %>
<!-- <div class="container"><h1> My Dates</h1></div> -->
  <div class="top-view">
    <div class="color-layer">
      <div class="header">
        <h1>Hello <%= current_user.first_name %>!</h1>
        <div class="profile-container">
          <%= cl_image_tag(current_user.photo.url(:find_face), class: "profile-face-big" ) %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "tabs" %>
