<div id ="image-meeting" style="background-image: url('<%= cl_image_path @meeting.other_user_request(current_user).user.photo.url %>')">
    <p class="time"><strong><span class="name text d-inline"> <%= @meeting.other_user_request(current_user).user.first_name %></span></strong>
</div>

<div >
  <%= render "show_tab" %>
</div>




