// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700|Source+Sans+Pro:700");

// Define fonts for body and headers
$headers-font: "Source Sans Pro", "Helvetica", "sans-serif";
$body-font: "Roboto", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


h1, h2, h3 ,h4, h5 {
  font-family: $headers-font;
}

p, a, li, {
  font-family: $body-font;
}
