

// .meet-image {
//   height: auto;
//   max-height: 100%;
//   width: 10px;
//   margin: 0px;
//   padding: 0px;

// }

// .image-meeting {
//   background-size: cover;
//   background-position: center;
// }

#image-meeting {
  height: 494px;
  width: 376px;
  background-size: cover;
  background-position: center;
  position: relative;
  .time {
    position: absolute;
    bottom: -10px;
    color: white;
    left: 10px;
  }
}


.color-user {
  color: pink;
}

.meeting-details {
  margin: -3px 0px;
  background-color: white;
  padding: 10px 25px;
  text-align: left;
}

.meet  {
  font-size: 23px;
  font-family: 'Sniglet', cursive;
  text-align: center;
  padding-top: 20px;
}

.place {
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 23px;
  font-family: 'Sniglet', cursive;
  text-align: center;
  color: grey;
}

.where {
  font-size: 22px;
  font-family: 'Sniglet', cursive;
  text-align: center;
  color: grey;
  margin: 3px auto;
  padding-top: 14px;
}


.colorful-name {
  color: #FF5A83;
  font-family: 'Sniglet', cursive;
}


.button-chat {
  width: 90px;
  background-color: transparent;
  color: $teal;
}


#messages {
  margin-top: 0px;
  // height: 300px;
  overflow: auto;
  background: #e0e0e0;
  margin-left: -13px;
  margin-bottom: 10px;
  margin-right: 0px;
  padding-bottom: 100px;

}

.chat user_one {
margin: 5px;
}


.tab-1 {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab-1 button {
  background-color: #32B796;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 45px;
  transition: 0.3s;
  font-size: 25px;
  margin-left: 3px;
  margin-right: -10px;
  padding-right: 45px;
  font-family: avenir;
  color: white;
}

.tab-1 button:hover {
  background-color: #32B796;
}

.tab-1 button.active {
  background-color: #32B796
}


.tabcontent {
  display: none;
  border-top: none;
}


.message-button {
  margin-left: 0px;
  padding-right: 15px;
}

.map-button button {
  margin-left: 10px;
  padding-right: 81px;
  padding-left: 67px;
  margin-right: 0px;
}


.user_one {
  width: 100vw;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  decoration: none;
  .chat-content {
    background-color: white;

  padding: 18px;
  font-size: 17px;
  border-radius: 20px;
  margin-top: 10px;
  }
}

.user_two {
  width: 100vw;
  text-align: right;
  display: flex;
  justify-content: flex-start;
  .chat-content {
    background-color: white;

  padding: 18px;
  font-size: 17px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 16px;
  }
}



.chat-enter {
    position: fixed;
    bottom: 0;
    background: white;
    width: 100%;
  input {

    height: 62px;
    border-radius: 14px;
    margin-right: 10px;
  }
  .form-group {
    margin-bottom: 0;

  }
  align-items: center;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
}


.say {
  height: 50px;
}


