
.meet-image {
  height: auto;
  max-height: 100%;
  width: 10px;
  margin: 0px;
  padding: 0px;

}

.size-pic {
  width: 100%;
  border-radius: 15px;
}


#image-meeting img{


  margin: auto;
  width: 380px;

  margin: 20px -17px;
  margin-top: -26px;

}


.color-user {
  color: pink;
}

.congratulations h1{
font-size: 56px;
color: white;
font-family: 'Yellowtail', cursive;
text-shadow: 2px 2px grey;
text-align: center;
}

.congratulations p {
  color: white;
  text-align: center;

  text-shadow: 1px 1px grey;

}

.meeting-details {
margin: 10px -22px;
font-size: 17px;
font: avenir;
padding: 10px 25px;
position: absolute;
border-style: solid;
border-width: thin;
border-color: grey;
top: 549px;





background: white;

}



.upper-part {
  display: flex;
  justify-content: space-around;
  align-items: center;

}


.button-chat {
  background-color: #FF4070;
  color: white;
  border-radius: 20px;
  padding: 10px;
  opacity: 0.8px;
  font-family: avenir;
  position: absolute;
  top: 5px;

}




layer {
 background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 96;
    left: 0;
    width: 100%;
    height: 100%;
  }





.row-1 {
  padding: 5px;


}

.ta-1 table, td {
  border: 1px solid #ddd;
  background: white;
  border-style: solid;
  border-color: grey;
  border-width: 2px;



}

.ta-1 {

  margin: auto;
   align-items: center;
margin-top: -225px;
margin-bottom: 1px;
position: relative;

}

.ta-1 td{
  padding: 25px;
  padding-left: 20px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;

}

.question-m {
 font-size: 13px;
 color: grey;

}

.answer-m {
  font-size: 17px;
}

.say {
  font-size: 5px;
  display: flex;
  position: absolute;
  top: 0px;
}

.chat {
  background: white;
  margin: 5px;
  margin-right: 155px;
  padding: 18px;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 10px;
}

#messages {
  margin-top: 40px;
  height: 200px;
  overflow: auto;
}

.chat user_one {
margin: 5px;
}


.background-chat {

}

#map {
position: absolute;
top: 712px;
left: -17px;
}



.tab-1 {
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab-1 button {
  background-color: #52C0EC;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 34px;
  transition: 0.3s;
  font-size: 25px;
  margin-left: 3px;
  margin-right: 0px;
  padding-right: 45px;
  font-family: avenir;
  color: white;
  border-radius: 10px;
}

.message-button {
  margin-left: 12px;
}


.map-button button {
  margin-left: 10px;
  padding-right: 65px;
  padding-left: 57px;
}

/* Change background color of buttons on hover */
.tab-1 button:hover {
  background-color: #2e94bd;
}

/* Create an active/current tablink class */
.tab-1 button.active {
  background-color: #0b7ca9;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;

  border-top: none;
}

