<div class="container">

<h2> Create a new request </h2>


   <%= simple_form_for(@request) do |f| %>

        <%= f.input :location %>

        <%= f.input :meeting_date %>
        <%= f.submit "Select your Meal Preference", class: "btn btn-success" %>
    <% end %>
</div>
