<div class="container">
  <div id="img-landingpage">
    <h1>Why eat out alone when you can..</h1>
    <br>
    <h1>twosty</h1>
    <%= link_to "Get Started", new_request_path%>
  </div>


  <div>
    <h3>How it works</h3>
    <ul>
      <li>Sign up and fill out your future date preferences!</li>
      <li>Choose when and where you want your date</li>
      <li>Get matched</li>
    </ul>
  </div>
</div>
