<div class="full-screen" style="background-image: url(https://images.unsplash.com/photo-1549267419-dd7877f9ea02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);">
  <div class="parallax">
    <div class="section">
      <br>
      <h1>Meet People, Simply, With Twosty</h1>
      <h3>Match and eat with great people, quickly and without hassle</h3>
      <h1></h1>
      <%= link_to "Find A Match", new_request_path, class: "btn btn-success text-center btn-home"%>
      <div class="hit-btn">
      <p>How it works</p>
      <%= image_tag "arrow_down.svg", class: "ct-btn-scroll scroll_down_btn" %>
      </div>
    </div>
    <div class="section">
      <%= image_tag "arrow_up.svg", class: "ct-btn-scroll scroll_up_btn" %>
      <h2>How it works<br></h2>
        <ul class="list-unstyled">
          <br>
          <br>
          <i class="fas fa-user-plus"></i>
          <li> <i class="glyphicon glyphicon-log-in"></i>  Create your profile</li>
          <br>
          <i class="fas fa-edit"></i>
          <li> <i class="glyphicon glyphicon-ok-circle"></i> Fill in your preferences </li>
          <br>
          <i class="far fa-hand-pointer"></i>
          <li> <i class="glyphicon glyphicon-ok-sign"></i> Choose a match</li>
        </ul>
        <%= link_to "Get Started", new_request_path, class: "btn btn-success text-center btn-home"%>
      <h2></h2>
    </div>
  </div>
</div>
