/* Main navbar */
.navbar {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  position: fixed;
  z-index: 1;
}

.navbar-on-the-top {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  z-index: 1;
}

a {
  color: white;
}

.profile-menu {
  height: 300px;
  a {
    color: grey;
    font-size: 20px;
  }
}

.btn-profile {
    padding: 5px;
    a {
      color: red;
    }
  }


#sidebar {
  width: 100%;
  background: #61E1E2;
  position: fixed;
  left: -100%;
  top: 0px;
  bottom: 0px;
  transition: all 0.5s ease;
  z-index: 1;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white !important;
  font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(400deg,teal 12%, #32B796 60%);
  li {
    &:hover {

    }

  }
  a {
    color: white;
    font-weight: 300;
    line-height: 4px;
      &:hover {
        text-decoration: none;
        // color: #ED4A4B;
    }
  }
}

.active-sidebar {
  left: 0px !important;
}

.text-menu {
  text-align: center;
  .li {
    color: white;
  }
}

#navbar-menu {
  margin: 5px;
  z-index: 2 !important;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

#location {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
  border-bottom: 3px solid white;
  position: fixed;
  margin: 40px 0px;
  &::placeholder {
    color: white;
    opacity: 1;
    font-weight: bold;
  }
}

.form-control:focus {
  box-shadow: none;
}

.font-city{
  font-size: 50px;
}

ol, ul, dl {
  padding-left: 0px;
}
