/* Main navbar */
.navbar {
  background: transparent;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  position: fixed;
  z-index: 1;
}

a {
  color: white;
}

.btn-new {
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 1px 9px 0px #4747474d;
  width: 57%;
  margin: auto;
}


.profile-menu {
  height: 300px;
  a {
    color: grey;
    font-size: 20px;
  }
}

.btn-profile {
    padding: 5px;
    a {
      color: red;
    }
  }


#sidebar {
  width: 100%;
  background: #61E1E2;
  position: fixed;
  left: -100%;
  top: 0px;
  bottom: 0px;
  transition: all 0.5s ease;
  z-index: 1;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white !important;
  font-size: 30px;
  font-weight: bold;
  li {
    &:hover {
      color: blue;
    }

  }
  a {
    font-weight: 300;
    line-height: 4px;
  }
}

.active-sidebar {
  left: 0px !important;
}

.text-menu {
  text-align: center;
}

#navbar-menu {
  margin: 5px;
  z-index: 2 !important;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

#location {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
  border-bottom: 3px solid white;
  position: fixed;
  margin: 40px 0px;
  &::placeholder {
    color: white;
    opacity: 1;

  }

}



.font-city{
  font-size: 50px;
}
