#card-1 {
background: #F6C7F9;
background-size: cover;
height: 100vh;
}

#card-2 {
background: #41AFF8;
background-size: cover;
height: 100vh;
}

#card-3 {
background: #ED474A;
background-size: cover;
height: 100vh;
}

