.full-screen {
  max-height: 100vh;
  overflow: hidden;
  width:100%;
  height:100%;
  font-family: 'Avenir';
  color: white;
  font-weight:bold;
  text-align: center;
  padding: 70px, 10px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  height: calc(100vh - 70px);
  transition: all 1s ease;
  padding: 5% 5% 30% 5%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.ct-btn-scroll {
  height: 30px;
  // margin: 50px;
}

.scroll_down_btn {
  margin-bottom: 0px;
}

.scroll_up_btn {
  margin-top: 0px;
}

.when-to-meet {
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
  label {
    margin-bottom: 1.5rem;
  }
}

.algolia {
  padding-top: 5px;
  color: grey;
}

.ap-dropdown-menu {
  text-align: left;
}

 // #carouseller {
  //  padding: 5% 0% 20% 0%;
  // // align-items: center;
  // display: flex;
  // justify-content: space-between;
 // }
